.gradient-background {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #008B45, #20B2AA);
}

.line-color {
        -fx-background-color: #F3ABB5  ;
}

.container {
    -fx-background-color: rgba(188, 143, 143, .4);
    -fx-background-radius: 10;
}

.background-empty {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.axis {
    -fx-stroke: #fff;
    -fx-fill: #fff;
    -fx-font-size: 24;
    -fx-tick-label-fill: #fff;
}
.test{
    -fx-border-radius: 0 50px 50px 0;
    -fx-background-color: rgba(151, 255, 255, .2);
}
.menu-button{
    -fx-background-radius: 15;
    -fx-background-color:  transparent;
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;

}
.menu-button:hover{
    -fx-background-color: #ffff;
    -fx-text-fill: black;
    -fx-text-fill: green;
}
.menu-button:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 5,0,0,0);
    -fx-background-color: #ffff;
    -fx-text-fill: green;
}
